{% extends "boiler.html" %}

{% block title %} Dashboard {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='components/stock.js') }}" defer></script>
    <script src="{{ url_for('static', filename='components/order.js') }}" defer></script>
    <script>
        let sales_data_js = {{sales_data|tojson|safe}};
        let sales_label = sales_data_js.labels;
        let sales_values = sales_data_js.values;
        
    </script>
    <script src="/static/dashboard.js"></script>

{% endblock %}

{% block content %}
    <main>
        <div id="top">
            <div id="analytics">
                <div id="sales-container">
                    <h3>Weekly Analytics</h3>
                    <p>Sales</p>
                    <p id="sales">${{weekly_sales}}</p>
                    <p>Last Week's Sales</p>
                    <p id="last-week">${{last_week_sales}}</p>
                    <p class="{% if percentage < 0 %}negative {% else %} positive {% endif %}">
                        {{ "%.1f" % percentage }}%
                    </p>

                </div>
                <div style="width: 50%;">
                    <canvas id="salesChart"></canvas>
                </div>
            </div>
            <div id="pending-orders">
                <h3>Pending Orders</h3>
                <div id="order-container">
                    {% if orders %}
                        {% for order in orders %}
                            <order-card data-order='{{ order | tojson | escape }}''></order-card>
                        {% endfor %}
                    {% else %}
                        <p>No Pending Orders</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="bottom">
            <h3>Low Stock</h3>
            <div id="stock-container">
                {% if stock %}
                    {% for s in stock %}
                        <stock-card name={{s.name}} category={{s.category}} quantity={{s.stock_level}}></stock-card>
                    {% endfor %}
                {% else %}
                    <p>No Low Stock</p>
                {% endif %}

            </div>
        </div>
    </main>
{% endblock %}