
{% extends "boiler.html" %}

{% block title %} {{stock.name}} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/individual_stock.css') }}">
    <script src="/static/individual_stock.js"></script>
{% endblock %}

{% block content %}
    <div id="overlay" onclick="popupClose()"></div>

    <main>
        <div class="container">
            <div id="left">
                <h1 style="text-align: left;" id="name">{{stock.name}}</h1>
                {% if stock.image == None %}
                    <img src="{{url_for('static', filename='/uploads/placeholder.svg')}}" alt="">
                {% else %}
                    <img src="{{url_for('static', filename='/uploads/' ~ stock.image)}}" alt="">
                {% endif %}
                <div id="stock-container">
                    <div id="header">
                        <h3>Stock</h3>
                        <div id="popup-container">
                            <div id="popup">
                                <input type="number" id="quantity" placeholder="Quantity" hidden>
                            </div>
                            <button onclick="popup()" id="add">Add</button>
                        </div>
                    </div>
                    <div id="stock-info">
                        <div class="stock">
                            <h2>{{stock.stock_level}}</h2>
                            <h4>Stock left</h4>
                        </div>
                        <div class="stock">
                            <h2>{{stock.stock_level}}</h2>
                            <h4>Stock left</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="order-container">
                <h2 style="margin: 0; text-align: left;">Orders</h2>
                <div id="labels">
                    <h4>ID</h4>
                    <h4>Quantity</h4>
                    <h4>Status</h4>
                </div>
                <div id="orders">
    
                </div>
            </div>
        </div>

    </main>
{% endblock %}
