
{% extends "boiler.html" %}

{% block title %} {{stock.name}} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/individual_stock.css') }}">
    <!-- <script src="/static/stock.js"></script> -->
{% endblock %}

{% block content %}
    <div id="overlay" onclick="popupClose()"></div>

    <main>
        <div class="container">
            <div id="left">
                <h1 style="text-align: left;">{{stock.name}}</h1>
                {% if stock.image == None %}
                    <img src="{{url_for('static', filename='/uploads/placeholder.svg')}}" alt="">
                {% else %}
                    <img src="{{url_for('static', filename='/uploads/' ~ stock.image)}}" alt="">
                {% endif %}
                <div id="stock-container">
                    <div id="header">
                        <h3>Stock</h3>
                        <button>Add</button>
                    </div>
                    <div id="stock-info">
                        <div class="stock">
                            <h2>{{stock.stock_level}}</h2>
                            <h4>Stock left</h4>
                        </div>
                        <div class="stock">
                            <h2>{{stock.stock_level}}</h2>
                            <h4>Stock left</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="order-container">
                <h2 style="margin: 0; text-align: left;">Orders</h2>
                <div id="labels">
                    <h4>ID</h4>
                    <h4>Quantity</h4>
                    <h4>Status</h4>
                </div>
                <div id="orders">
    
                </div>
            </div>
        </div>
        <div id="popup-stock">
            <i class="material-icons" onclick="popupClose()" style="
                    position: absolute;
                    top: 4%;
                    right: 4%;
                    font-size: 1.2rem;
                    cursor: pointer;
                "  >close</i>

            <h1>New Stock</h1>
            <div class="top">
                <input list="all-stock" type="text" name="popupsearch" id="popup-search" placeholder="Search for item">
                <button id="add-stock" onclick="push_stock()">Add +</button>
            </div>
            <datalist id="all-stock">

            </datalist>
            <p id="error-text"></p>
            <div id="new-stock-container">

            </div>
            <button onclick="updateStock()">Save</button>
        </div>
    </main>
{% endblock %}
