{% extends "boiler.html" %}

{% block title %} Orders {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/order.css') }}">
    <script src="/static/order.js"></script>
    <script>
        var stock = {{stock|tojson|safe}};
    </script>
{% endblock %}

{% block content %}
<div id="overlay" onclick="popupClose()"></div>
<main>
    <div id="popup">
        <i class="material-icons" onclick="popupClose()" style="
        position: absolute;
        top: 4%;
        right: 4%;
        font-size: 1.2rem;
        cursor: pointer;
    "  >close</i>
        <h2 style="margin-top: 0">Add Order</h2>
        <!-- id date total items  -->
        <!-- <form id="order-form" method="POST" action="/add_order"> -->
            <div style="display:flex; gap: 5%; justify-content: center;">
                <div>
                    <label for="id">Order ID:    </label> <input type="checkbox" name="" id="check"><label for="checkbox">Random</label><br><br>
                    <input type="text" id="id" name="id" required><br><br>
                </div>
                
                <div>
                    <label for="date">Date of order:</label><br><br>
                    <input type="date" id="date" name="date" required><br><br>
                </div>
            </div>
            
            <label for="items">Items:</label><br><br>
            <!-- <p id="stock-alert"></p> -->
             <div>
                <div style="display:flex; gap: 5%; justify-content: center;">
                    <div>
                        <label for="total">Total:</label>
                        <p id="total">$0</p>
                    </div>
                    <div>
                        <input type="text" id="items" name="items" placeholder="Search for items" list="stock"><button onclick="addItem()">Add +</button><br>
                    </div>
                </div>
                 <datalist id="stock">
                     {% for item in stock %}
                         <option value="{{ item.name }}">{{ item.name }}</option>
                     {% endfor %}
                 </datalist>
                 <p id="error" style="color: red; margin: 1%;" ></p>
                 <div style="min-height: 30vh; background: rgba(0,0,0,0.1)">
                    <div style="display:flex; justify-content: space-between; padding: 0 4%;">
                        <h4>Stock ID</h4>
                        <h4>Name</h4>
                        <h4>Price</h4>
                        <h4>Quantity</h4>
                        <h6></h6>
                    </div>
                    <div id="stock-list" style="overflow-y: scroll; max-height: 20vh;">
                        <!-- stock added dynamically -->
                    </div>

                 </div>
             </div>
            
             <br>
            <button type="submit" id="submit" onclick="submit()" disabled>Submit</button>
    </div>
    <div id="top">
        <!-- <h4>Press save to lock in changes</h4> -->
        <button onclick="save()" id="save" disabled>Save</button>
    </div>
    <div id="containers">
        <div id="left">
            <h1>Order History</h1>
            <div class="labels">
                <h4>ID</h4>
                <h4>Total</h4>
                <h4>Items</h4>
                <h4>Status</h4>
            </div>
            <div id="order-history-container">
                <!-- {% if orders %}
                    {% for order in orders %}
                        <div class="order">
                            <p>{{ order.order_id }}</p>
                            <p>${{ order.total }}</p>
                            <p>{{order.order_items|length}}</p>
                            <p>{{ order.status }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No orders found</p>
                {% endif %} -->
                <!-- <div class="order">
                    <p>sdjofh284fwadf</p>
                    <p>$123</p>
                    <p>3</p>
                    <button class="status pending">Pending</button>
                </div> -->
            </div>
        </div>
        <div id="right">
            <div style="
                display:flex;
                justify-content: space-between;
                align-items: center;
                ">
                <h1>Pending Orders</h1>
                <button id="add" onclick="popup()">Add +</button>
            </div>
            <div class="labels">
                <h4>ID</h4>
                <h4>Total</h4>
                <h4>Items</h4>
                <h4>Status</h4>
            </div>
            <div id="pending-order-container">
                <!-- {% if orders %}
                    {% for order in orders %}
                        <div class="order">
                            <p>{{ order.order_id }}</p>
                            <p>${{ order.total }}</p>
                            <p>{{order.order_items|length}}</p>
                            <p>{{ order.status }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No orders found</p>
                {% endif %} -->
                <!-- <div class="order">
                    <p>sdjofh284fwadf</p>
                    <p>$123</p>
                    <p>3</p>
                    <button class="status pending">Pending</button>
                </div> -->
            </div>
        </div>
    </div>
</main>

{% endblock %}