{% extends "boiler.html" %}

{% block title %} Orders {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/order.css') }}">
    <script src="/static/order.js"></script>
{% endblock %}

{% block content %}

<div id="overlay" onclick="popupClose()"></div>
<button onclick="save()" id="save">Save</button>
<main>
    <div id="left">
        <h1>Order History</h1>
        <div class="labels">
            <h4 style="margin-right: 25%;">ID</h4>
            <h4>Total</h4>
            <h4>Items</h4>
            <h4 style="margin-right: 5%;">Status</h4>
        </div>
        <div id="order-history-container">
            {% if orders %}
                {% for order in orders %}
                    <div class="order">
                        <h4>{{ order.id }}</h4>
                        <h4>${{ order.total }}</h4>
                        <h4>{{ order.items|length }}</h4>
                        <h4>{{ order.status }}</h4>
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders found</p>
            {% endif %}
        </div>
    </div>
    <div id="right">
        <div style="
            display:flex;
            justify-content: space-between;
            align-items: center;
            ">
            <h1>Pending Orders</h1>
            <button id="add" onclick="popup()">Add +</button>
        </div>
        <div class="labels">
            <h4 style="margin-right: 25%;">ID</h4>
            <h4>Total</h4>
            <h4>Items</h4>
            <h4 style="margin-right: 5%;">Status</h4>
        </div>
        <div id="order-history-container">
            <!-- {% if orders %}
                {% for order in orders %}
                    <div class="order">
                        <h4>{{ order.id }}</h4>
                        <h4>${{ order.total }}</h4>
                        <h4>{{ order.items|length }}</h4>
                        <h4>{{ order.status }}</h4>
                    </div>
                {% endfor %}
            {% else %}
                <p>No orders found</p>
            {% endif %} -->
            <div class="order">
                <p>sdjofh284fwadf</p>
                <p>$123</p>
                <p>3</p>
                <button class="completed">Completed</button>
            </div>
        </div>
    </div>
</main>

{% endblock %}