<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="/static/stock.js"></script>
    <script src="{{ url_for('static', filename='components/nav.js') }}" defer></script>
    <title>Stock</title>
</head>
<body style="margin: 0;">
    <nav-bar></nav-bar>
    
    <div id="overlay" onclick="popupClose()"></div>
    <main>
        <div id="main">
            <div id="top">
                <input type="text" placeholder="Search" id="search" >
                <button id="enter" onclick="enter()">Enter</button>
                <button id="add" onclick="popupAdd()">Add +</button>
                <div id="popupButtons">
                    <button id="new-item" onclick="newItem()">New Item</button>
                    <button id="new-stock" onclick="newStock()">New Stock</button>
                </div>
            </div>
            <div class="labels">
                <h4 style="
                    width: 40%;
                    "
                    onclick="filter_name()"
                    >Name</h4>
                    <div class="dropdown-wrapper">
                        <h4 id="category-label" style="margin: 0 0 2% 0;">
                            Category <span class="down-arrow">▼</span>
                        </h4>
                        <div class="dropdown">
                            <ul>
                                <li onclick="filter_category(event)">None</li>
                                <li onclick="filter_category(event)">T-Shirts</li>
                                <li onclick="filter_category(event)">Accessories</li>
                                <li onclick="filter_category(event)">Hoodies & Sweaters</li>
                                <li onclick="filter_category(event)" style="border: none;">Miscellaneous</li>
                            </ul>
                        </div>
                    </div>


                <h4 style="
                    width: 15%;
                    "
                onclick="filter_level()"
                >Stock Level<i></i></h4>
            </div>
            <div id="stock">
                <!-- JAVASCRIPT WILL DYNAMICALLY RENDER INDIVIDUAL STOCK -->
            </div>
            <div id="popup">
                <form onsubmit="addItem(event)">
                    <i onclick="popupClose()">x</i>
                    <h1>New Item</h1> <br>
                    <label>Name</label> <br> <br>
                    <input type="text" id="name" placeholder="Enter name of new product" style="border: 2px solid red;"><br> <br>
                    <label>Category</label> <br> <br>
                    <input list="categories" type="text" id="category" placeholder="Select category of new product" style="border: 2px solid red;"><br> <br>
                    <datalist id="categories">
                        <option value="Accessories"></option>
                        <option value="Shirts"></option>
                        <option value="Hoodies & Sweaters"></option>
                        <option value="Pants"></option>
                        <option value="Miscellaneous"></option>
                    </datalist>
                    <label>Quantity</label> <br><br>
                    <input type="range" id="quantity-input" min=1 max=100 step=1 value=1><br>
                    <input type="number" id="input-value"></input><br><br>
                    <input type="submit" id="submit" disabled>
                </form>
            </div>
        </div>

    </main>
</body>
</html>