<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="/static/stock.js"></script>
    <title>Stock</title>
</head>
<body>
    <div id="main">
        <div id="top">
            <input type="text">
            <button id="enter">Enter</button>
            <button id="add">Add +</button>
            <button id="new-item" >New Item</button>
            <button id="new-stock">Stock</button>
        </div>
        <div class="labels">
            <h4>Name<i></i></h4>
            <h4>Category<i></i></h4>
            <h4>Stock Level<i></i></h4>
            <div class="dropdown">
                <ul>
                    <li>None</li>
                    <li>T-Shirts</li>
                    <li>Accessories</li>
                    <li>Hoodies & Sweaters</li>
                    <li>Miscellaneous</li>
                </ul>
            </div>
        </div>
        <div id="stock">

        </div>
        

    </div>

    <div class="popup">
        <form onsubmit="addItem(event)">
            <label>Name</label>
            <input type="text" id="name"><br>
            <label>Category</label>
            <input type="text"id="category"><br>
            <label>Quantity</label>
            <input type="range" id="quantity"><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>