<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="/static/stock.js"></script>
    <title>Stock</title>
</head>
<body style="margin: 0;">
    
    <div id="overlay" onclick="popupClose()"></div>
    <main>
        <div id="main">
            <div id="top">
                <input type="text" placeholder="Search">
                <button id="enter">Enter</button>
                    <button id="add" onclick="popupAdd()">Add +</button>
                    <div id="popupButtons">
                        <button id="new-item" onclick="newItem()">New Item</button>
                        <button id="new-stock" onclick="newStock()">New Stock</button>
                    </div>
            </div>
            <div class="labels">
                <h4 style="
                    width: 45%;
                    ">Name<i></i></h4>
                <h4 style="
                    width: 35%;
                    ">Category<i></i></h4>
                <h4 style="
                    width: 20%;
                    "
                >Stock Level<i></i></h4>
                <div class="dropdown">
                    <ul>
                        <li>None</li>
                        <li>T-Shirts</li>
                        <li>Accessories</li>
                        <li>Hoodies & Sweaters</li>
                        <li>Miscellaneous</li>
                    </ul>
                </div>
            </div>
            <div id="stock">
                <!-- JAVASCRIPT WILL DYNAMICALLY RENDER INDIVIDUAL STOCK -->
            </div>
            
    
        </div>
    </main>

    <div id="popup">
        <form onsubmit="addItem(event)">
            <label>Name</label>
            <input type="text" id="name"><br>
            <label>Category</label>
            <input type="text"id="category"><br>
            <label>Quantity</label>
            <input type="range" id="quantity"><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>