main {
    background: #000625;
}

#revenue {
    margin-top: 5%;
    background-color: rgba(70,70,70,0.6);
    padding: 5% 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#left, #right {
    padding: 5%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right {
    gap: 5%;
}

.card {
    height: fit-content;
    border-radius: 10px;
    width: 95%;
    margin: 2% 0;
    padding: 7%;
}

.completed {
    background: #009E35;
}

.processing {
    background: #CF0909;
}

.completed, .processing {
    /* padding: 5%; */
    width: 5vw;
    border-radius: 5px;
    padding: 2%;
}

.labels, .order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labels{
    padding: 0% 5%;
}

.labels h4 {
    margin: 0;
}


.order p {
    max-width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.order {
    padding: 2% 5%;
    background: #33233A;
    margin: 2% 0;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

button {
    margin: 0;
    border: none;
    padding: 1vw;
    background-color: #333BCF;
    color: white;
    width: 5vw;
}

button:active, button:focus {
    background: #072689;
}
