body {
    background-color: #001525;
}

#left, #right {
    width:40vw;
    padding: 3% 4%;
    margin: 2%;
    background: rgba(217,217,217,0.2);
    border-radius: 20px;
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: 2px solid white;
}

.labels h4 {
    margin: 4% 0 2% 0;
}

h1 {
    margin: 2% 0;
    text-align: left;
}

#add {
    background: #174291;
    color: white;
    border: none;
    box-shadow: 0 0 20px 5px rgba(126, 148, 196, 0.2);
    padding: 3% 5%;
    border-radius: 20px;
    height: fit-content
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    margin: 2% 0;
    background: rgba(116,142,189,0.2);
    border-radius: 20px;
}

.completed {
    background: #009E35;
}

.completed:hover {
    background: #007427;
}

.pending {
    background: #CF0909;
}

.pending:hover {
    background: #810606;
}

#overlay {
    position: absolute;
    top: 0;
    z-index: 4;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    display: none;
}

.status {
    color: white;
    border: none;
    padding: 1% 2%;
    border-radius: 10px;
    width: 7vw;
    cursor: pointer;
    transition: 0.3s;
}

.order p {
    max-width: 4vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

main {
    flex-direction: column;
}

#containers{
    width: 100%;
    display: flex;
    
}

#top {
    width: 90vw;
    display: flex;
    justify-content: right;
    gap: 5%;
    align-items: center;
    /* padding: 0 10%; */
}

#save {
    background: #057035;
    color: white;
    width: 10%;
    border: none;
    border-radius: 10px;
    height: 60%;
    cursor: pointer;
    transition: 0.2s;
    height: 5vh;
}

#save:hover {
    background: #034621;
}

#save:disabled {
    background: #034621;
    color: rgb(129, 128, 128);
}

#popup {
    display: none;
    width: 50vw;
    height: fit-content;
    background-color: #384861;
    position: fixed;
    z-index: 5;
    padding: 4% 2%;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 10px rgba(15, 1, 53, 0.6);
}
.stock {
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock input {
    width: 7%;
}

.stock p {
    max-width: 10%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#pending-order-container, #order-history-container {
    height: 30vh;
    overflow-y: scroll;
}